<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contacts">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <!-- Image of Self Positioned in the Center -->
        <div style="text-align: center;">
            <img src="/image/selfpic.jpg" alt="Self Picture" style="max-width: 300px; height: auto; border-radius: 50%;">
        </div>

        <h2>Hi! I'm Jibz</h2>
        <p>Welcome to my corner of the digital world. I am an aspiring tech enthusiast with a passion for web development and creating innovative solutions. My journey is just beginning, but every project is a step towards mastering the craft of technology and innovation.</p>
    </section>

    <footer>
        <p>Connect with me on <a href="https://github.com/Jibzzz6" target="_blank">GitHub</a> or <a
                href="https://www.linkedin.com/in/jibz-arventh-kaynes-pinili-743065337/" target="_blank">LinkedIn</a>.</p>
    </footer>
</body>

</html>



